In [1]:
# importing the required libraries
import pandas as pd     # pandas:2.1.0
import numpy as np      # numpy:1.26
import matplotlib.pyplot as plt   # matplotlib: 3.8.0
import seaborn as sns    # seaborn: 0.12.2
import scipy.stats as stats # scipy:1.11.2
import os

In [2]:
# This code will tell the version the libraries installed in the current environment

import pkg_resources

# List all installed packages and their versions
installed_packages = {pkg.key: pkg.version for pkg in pkg_resources.working_set}

# List of imported libraries
imported_libraries = ['pandas', 'numpy', 'matplotlib', 'scipy', 'seaborn']

# Print imported libraries and their versions
for library in imported_libraries:
    if library in installed_packages:
        print(f"{library}: {installed_packages[library]}")
    else:
        print(f"{library}: Not found in installed packages")

pandas: 2.1.0
numpy: 1.25.2
matplotlib: 3.8.0
scipy: 1.11.2
seaborn: 0.12.2

In [3]:
# User will give only the path of the folder & code will look for all the csv file & then create all the DataFrame automatically as per the name of the file

mypath = "/Users/pratyushmahato/Desktop/AnalytixLabs/python_foundation/Basic Statistics - Hypothesis Testing" # folder path of file location
csv_files = []
def search_csv_file():
    """
    function to search all csv files in a folder path
    """
    for files in os.listdir(mypath):
        if files.endswith('.csv'):
            csv_files.append(files)

search_csv_file()

In [4]:
file_paths = []
dataframe_names = []

def DataframeNameCreation_FilePathCreation():
    """
    function to create DataFrame names & File Path
    """
    for i in csv_files:
        x = 'df_' + str(i).split('/')[-1].split('.')[0]
        y = os.path.join(mypath ,i)
        dataframe_names.append(x)
        file_paths.append(y)

DataframeNameCreation_FilePathCreation()

In [5]:
def read_dataframes(dataframe_names, file_paths):
    """
    Read data from CSV files into dataframes and assign dataframe names automatically.

    Args:
        dataframe_names (list of str): List of desired dataframe names.
        file_paths (list of str): List of file paths for the CSV files.

    Returns:
        dict: A dictionary of dataframes with automatic naming.
    """
    dataframes = {}
    
    for file_path, df_name in zip(file_paths, dataframe_names):
        try:
            # Read data from the file into a dataframe
            df = pd.read_csv(file_path)
            
            # Store the dataframe in the dictionary using the specified df_name
            dataframes[df_name] = df
        except Exception as e:
            print(f"Error reading data from {file_path}: {str(e)}")
    
    return dataframes


# Call the function to read data and assign dataframe names
dataframes = read_dataframes(dataframe_names, file_paths)

# Automate the creation of variables for dataframes using a loop
for df_name in dataframe_names:
    globals()[df_name] = dataframes[df_name]

# Print all dataframe names
print("ALl Dataframes are:")
for df_name in dataframes.keys():
    print(df_name)

ALl Dataframes are:
df_Price_Quotes
df_Films
df_Priority_Assessment
df_Treatment_Facility
df_LoansData

# Business Problem 1: Loans Data

## EDA

In [6]:
df_LoansData.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [7]:
df_LoansData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2499 non-null   float64
 1   Amount.Funded.By.Investors      2499 non-null   float64
 2   Interest.Rate                   2498 non-null   object
 3   Loan.Length                     2500 non-null   object
 4   Loan.Purpose                    2500 non-null   object
 5   Debt.To.Income.Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home.Ownership                  2499 non-null   object
 8   Monthly.Income                  2499 non-null   float64
 9   FICO.Range                      2498 non-null   object
 10  Open.CREDIT.Lines               2497 non-null   float64
 11  Revolving.CREDIT.Balance        2497 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 13  Employment.Length               2423 non-null   object
dtypes: float64(6), object(8)
memory usage: 273.6+ KB

In [8]:
# Percentage of NULL rows in each column
(df_LoansData.isnull().sum() / df_LoansData.shape[0] ) * 100

Amount.Requested                  0.04
Amount.Funded.By.Investors        0.04
Interest.Rate                     0.08
Loan.Length                       0.00
Loan.Purpose                      0.00
Debt.To.Income.Ratio              0.04
State                             0.00
Home.Ownership                    0.04
Monthly.Income                    0.04
FICO.Range                        0.08
Open.CREDIT.Lines                 0.12
Revolving.CREDIT.Balance          0.12
Inquiries.in.the.Last.6.Months    0.12
Employment.Length                 3.08
dtype: float64

In [9]:
# Column Amount.Requested in LoansData

df_LoansData[df_LoansData['Amount.Requested'].isnull()]
# the row number in which Amount.Requested is NULL is 2487. It also has another NULL column with column name Interest.Rate. So dropping this row because it has 2 NULL value & it constitutes only 0.04% of the whole data
df_LoansData = df_LoansData.dropna(subset=['Amount.Requested'])

In [10]:
# Column Amount.Funded.By.Investors in LoansData

df_LoansData[df_LoansData['Amount.Funded.By.Investors'].isnull()]
# the row number in which Amount.Requested is NULL is 2490. So dropping this row because it constitutes only 0.04% of the whole data
df_LoansData = df_LoansData.dropna(subset=['Amount.Funded.By.Investors'])

In [11]:
# Column Interest.Rate in LoansData

df_LoansData[df_LoansData['Interest.Rate'].isnull()]
# the row number in which Amount.Requested is NULL is 2484. So dropping this row because it constitutes only 0.04% of the whole data
df_LoansData = df_LoansData.dropna(subset=['Interest.Rate'])

In [12]:
# Column Debt.To.Income.Ratio in LoansData

df_LoansData[df_LoansData['Debt.To.Income.Ratio'].isnull()]
# the row number in which Amount.Requested is NULL is 2492. It also has another NULL column with column name Home.Ownership.Rate So dropping this row because it constitutes only 0.04% of the whole data
df_LoansData = df_LoansData.dropna(subset=['Debt.To.Income.Ratio'])
df_LoansData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2496 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2496 non-null   float64
 1   Amount.Funded.By.Investors      2496 non-null   float64
 2   Interest.Rate                   2496 non-null   object
 3   Loan.Length                     2496 non-null   object
 4   Loan.Purpose                    2496 non-null   object
 5   Debt.To.Income.Ratio            2496 non-null   object
 6   State                           2496 non-null   object
 7   Home.Ownership                  2496 non-null   object
 8   Monthly.Income                  2495 non-null   float64
 9   FICO.Range                      2494 non-null   object
 10  Open.CREDIT.Lines               2493 non-null   float64
 11  Revolving.CREDIT.Balance        2493 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2493 non-null   float64
 13  Employment.Length               2419 non-null   object
dtypes: float64(6), object(8)
memory usage: 292.5+ KB

In [13]:
# Column Monthly.Income in LoansData

df_LoansData[df_LoansData['Monthly.Income'].isnull()]
# the row number in which Amount.Requested is NULL is 366. It has 3 other NULL columns also namely, Open.CREDIT.Lines, Revolving.CREDIT.Balance, Inquiries.in.the.Last.6.Months. So dropping this row because it has 4 NULL values & it constitutes only 0.04% of the whole data
df_LoansData = df_LoansData.dropna(subset=['Monthly.Income'])
df_LoansData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2495 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2495 non-null   float64
 1   Amount.Funded.By.Investors      2495 non-null   float64
 2   Interest.Rate                   2495 non-null   object
 3   Loan.Length                     2495 non-null   object
 4   Loan.Purpose                    2495 non-null   object
 5   Debt.To.Income.Ratio            2495 non-null   object
 6   State                           2495 non-null   object
 7   Home.Ownership                  2495 non-null   object
 8   Monthly.Income                  2495 non-null   float64
 9   FICO.Range                      2493 non-null   object
 10  Open.CREDIT.Lines               2493 non-null   float64
 11  Revolving.CREDIT.Balance        2493 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2493 non-null   float64
 13  Employment.Length               2418 non-null   object
dtypes: float64(6), object(8)
memory usage: 292.4+ KB

In [14]:
# Column FICO.Range in LoansData

df_LoansData[df_LoansData['FICO.Range'].isnull()]
# the row number in which Amount.Requested is NULL are 2488 & 2494. So dropping this row because it constitutes only 0.08% of the whole data
df_LoansData = df_LoansData.dropna(subset=['FICO.Range'])
df_LoansData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2493 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2493 non-null   float64
 1   Amount.Funded.By.Investors      2493 non-null   float64
 2   Interest.Rate                   2493 non-null   object
 3   Loan.Length                     2493 non-null   object
 4   Loan.Purpose                    2493 non-null   object
 5   Debt.To.Income.Ratio            2493 non-null   object
 6   State                           2493 non-null   object
 7   Home.Ownership                  2493 non-null   object
 8   Monthly.Income                  2493 non-null   float64
 9   FICO.Range                      2493 non-null   object
 10  Open.CREDIT.Lines               2491 non-null   float64
 11  Revolving.CREDIT.Balance        2491 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2491 non-null   float64
 13  Employment.Length               2416 non-null   object
dtypes: float64(6), object(8)
memory usage: 292.1+ KB

In [15]:
# Column Open.CREDIT.Lines in LoansData

df_LoansData[df_LoansData['Open.CREDIT.Lines'].isnull()]
# the row number in which Amount.Requested is NULL are 1594 & 2489. So dropping this row because it constitutes only 0.08% of the whole data
df_LoansData = df_LoansData.dropna(subset=['Open.CREDIT.Lines'])
df_LoansData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2491 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2491 non-null   float64
 1   Amount.Funded.By.Investors      2491 non-null   float64
 2   Interest.Rate                   2491 non-null   object
 3   Loan.Length                     2491 non-null   object
 4   Loan.Purpose                    2491 non-null   object
 5   Debt.To.Income.Ratio            2491 non-null   object
 6   State                           2491 non-null   object
 7   Home.Ownership                  2491 non-null   object
 8   Monthly.Income                  2491 non-null   float64
 9   FICO.Range                      2491 non-null   object
 10  Open.CREDIT.Lines               2491 non-null   float64
 11  Revolving.CREDIT.Balance        2490 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2490 non-null   float64
 13  Employment.Length               2414 non-null   object
dtypes: float64(6), object(8)
memory usage: 291.9+ KB

In [16]:
# Column Revolving.CREDIT.Balance in LoansData

df_LoansData[df_LoansData['Revolving.CREDIT.Balance'].isnull()]
# the row number in which Amount.Requested is NULL is 2482. So dropping this row because it constitutes only 0.04% of the whole data
df_LoansData = df_LoansData.dropna(subset=['Revolving.CREDIT.Balance'])
df_LoansData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2490 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2490 non-null   float64
 1   Amount.Funded.By.Investors      2490 non-null   float64
 2   Interest.Rate                   2490 non-null   object
 3   Loan.Length                     2490 non-null   object
 4   Loan.Purpose                    2490 non-null   object
 5   Debt.To.Income.Ratio            2490 non-null   object
 6   State                           2490 non-null   object
 7   Home.Ownership                  2490 non-null   object
 8   Monthly.Income                  2490 non-null   float64
 9   FICO.Range                      2490 non-null   object
 10  Open.CREDIT.Lines               2490 non-null   float64
 11  Revolving.CREDIT.Balance        2490 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2489 non-null   float64
 13  Employment.Length               2413 non-null   object
dtypes: float64(6), object(8)
memory usage: 291.8+ KB

In [17]:
# parametric test

In [18]:
df_LoansData['FICO.Range']

0       735-739
1       715-719
2       690-694
3       695-699
4       695-699
         ...
2495    705-709
2496    740-744
2497    680-684
2498    675-679
2499    670-674
Name: FICO.Range, Length: 2490, dtype: object

In [19]:
df_LoansData['Home.Ownership'].value_counts()

Home.Ownership
MORTGAGE    1144
RENT        1141
OWN          200
OTHER          5
Name: count, dtype: int64

In [20]:
# Column Inquiries.in.the.Last.6.Months in LoansData

df_LoansData[df_LoansData['Inquiries.in.the.Last.6.Months'].isnull()]
# the row number in which Amount.Requested is NULL is 2491. So dropping this row because it constitutes only 0.04% of the whole data
df_LoansData = df_LoansData.dropna(subset=['Inquiries.in.the.Last.6.Months'])
df_LoansData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2489 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2489 non-null   float64
 1   Amount.Funded.By.Investors      2489 non-null   float64
 2   Interest.Rate                   2489 non-null   object
 3   Loan.Length                     2489 non-null   object
 4   Loan.Purpose                    2489 non-null   object
 5   Debt.To.Income.Ratio            2489 non-null   object
 6   State                           2489 non-null   object
 7   Home.Ownership                  2489 non-null   object
 8   Monthly.Income                  2489 non-null   float64
 9   FICO.Range                      2489 non-null   object
 10  Open.CREDIT.Lines               2489 non-null   float64
 11  Revolving.CREDIT.Balance        2489 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2489 non-null   float64
 13  Employment.Length               2413 non-null   object
dtypes: float64(6), object(8)
memory usage: 291.7+ KB

In [21]:
# Column Employment.Length in LoansData

df_LoansData[df_LoansData['Employment.Length'].isnull()]
# there are 76 NULL values. This is a categorical column. so imputing the NULL values with mode of the column
df_LoansData['Employment.Length'] = df_LoansData['Employment.Length'].astype(str)
Employment_Length_mode= str(df_LoansData['Employment.Length'].mode())
df_LoansData['Employment.Length'].fillna(value=Employment_Length_mode, inplace=True)

In [22]:
df_LoansData.info()
# In the original dataset we had 2500 rows. Now we have 2489 rows, i.e. we have more than 99% of the original data for analysis

<class 'pandas.core.frame.DataFrame'>
Index: 2489 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2489 non-null   float64
 1   Amount.Funded.By.Investors      2489 non-null   float64
 2   Interest.Rate                   2489 non-null   object
 3   Loan.Length                     2489 non-null   object
 4   Loan.Purpose                    2489 non-null   object
 5   Debt.To.Income.Ratio            2489 non-null   object
 6   State                           2489 non-null   object
 7   Home.Ownership                  2489 non-null   object
 8   Monthly.Income                  2489 non-null   float64
 9   FICO.Range                      2489 non-null   object
 10  Open.CREDIT.Lines               2489 non-null   float64
 11  Revolving.CREDIT.Balance        2489 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2489 non-null   float64
 13  Employment.Length               2489 non-null   object
dtypes: float64(6), object(8)
memory usage: 291.7+ KB

In [23]:
df_LoansData.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [24]:
# Q.1 Interest rate is varied for different loan amounts (Less interest charged for high loan amounts)

# Ho: Interest rate is same for all loan amounts
# Ha: Interest rate is NOT same for all loan amounts
# at CI=95%, p=0.05 

# changing the data type of Interest.Rate to float
df_LoansData['Interest.Rate'] = df_LoansData['Interest.Rate'].apply(lambda x:x[:len(x)-1]).astype(float)

# Both variables are of continuous datatype, we will use correlation to find the relationship between 2 continuous variables
print(stats.pearsonr(x=df_LoansData['Amount.Funded.By.Investors'], y=df_LoansData['Interest.Rate']))
print('SpearmanResult:',stats.spearmanr(df_LoansData['Amount.Funded.By.Investors'], df_LoansData['Interest.Rate']))
# At 95 % CI, calculated p-value is less than 0.05. So, we Reject the NULL hypothesis

# Business Conclusion:
# Interest Rate varies as per the loan amount

PearsonRResult(statistic=0.3358194064278584, pvalue=1.1396807200534781e-66)
SpearmanResult: SignificanceResult(statistic=0.2825371874520007, pvalue=6.645782693641716e-47)

In [25]:
# Q.2 Loan length is directly effecting interest rate
df_LoansData['Loan.Length'].unique() # has only 2 values. So categorical column

# Ho: Loan length is NOT affecting interest rate
# Ha: Loan length is affecting interest rate
# at CI=95%, p=0.05 

# Loan.Length is a categorical value & Interest.Rate is a continuous value. So, we perform ANOVA test

# creating Series for each Loan.Length
loan_length_36 = df_LoansData[df_LoansData['Loan.Length']=='36 months']['Interest.Rate'] # interest rates for 36 months
loan_length_60 = df_LoansData[df_LoansData['Loan.Length']=='60 months']['Interest.Rate'] # interest rates for 60 months
stats.f_oneway(loan_length_36, loan_length_60)
# At 95 % CI, calculated p-value is less than 0.05. So, we Reject the NULL hypothesis

# Business Conclusion:
# Interest Rate depends on the duration of the loan

F_onewayResult(statistic=546.6073891678221, pvalue=1.9132344351553154e-109)

In [26]:
# Q.3 Interest rate varies for different purpose of loans
df_LoansData['Loan.Purpose'].unique() # Categorical column

# Ho: Loan Purpose is NOT affecting interest rate
# Ha: Loan Purpose is affecting interest rate
# at CI=95%, p=0.05 

# Loan.Purpose is a categorical value & Interest.Rate is a continuous value. So, we perform ANOVA test

# creating Series for each Loan.Purpose
loan_purpose_debt_consolidation = df_LoansData[df_LoansData['Loan.Purpose']=='debt_consolidation']['Interest.Rate'] # interest rates for debt_consolidation
loan_purpose_credit_card = df_LoansData[df_LoansData['Loan.Purpose']=='credit_card']['Interest.Rate'] # interest rates for credit_card
loan_purpose_other = df_LoansData[df_LoansData['Loan.Purpose']=='other']['Interest.Rate']  # interest rates for other
loan_purpose_moving = df_LoansData[df_LoansData['Loan.Purpose']=='moving']['Interest.Rate'] # interest rates for moving
loan_purpose_car = df_LoansData[df_LoansData['Loan.Purpose']=='car']['Interest.Rate'] # interest rates for car
loan_purpose_vacation = df_LoansData[df_LoansData['Loan.Purpose']=='vacation']['Interest.Rate'] # interest rates for vacation
loan_purpose_home_improvement = df_LoansData[df_LoansData['Loan.Purpose']=='home_improvement']['Interest.Rate'] # interest rates for home_improvement
loan_purpose_house = df_LoansData[df_LoansData['Loan.Purpose']=='house']['Interest.Rate'] # interest rates for house
loan_purpose_major_purchase = df_LoansData[df_LoansData['Loan.Purpose']=='major_purchase']['Interest.Rate'] # interest rates for major_purchase
loan_purpose_educational = df_LoansData[df_LoansData['Loan.Purpose']=='educational']['Interest.Rate'] # interest rates for educational
loan_purpose_medical = df_LoansData[df_LoansData['Loan.Purpose']=='medical']['Interest.Rate'] # interest rates for medical
loan_purpose_wedding = df_LoansData[df_LoansData['Loan.Purpose']=='wedding']['Interest.Rate'] # interest rates for wedding
loan_purpose_small_business = df_LoansData[df_LoansData['Loan.Purpose']=='small_business']['Interest.Rate'] # interest rates for small_business
loan_purpose_renewable_energy = df_LoansData[df_LoansData['Loan.Purpose']=='renewable_energy']['Interest.Rate'] # interest rates for renewable_energy


stats.f_oneway(loan_purpose_debt_consolidation, loan_purpose_credit_card, loan_purpose_other, loan_purpose_moving, loan_purpose_car, loan_purpose_vacation, loan_purpose_home_improvement, loan_purpose_house, loan_purpose_major_purchase, loan_purpose_educational, loan_purpose_medical, loan_purpose_wedding, loan_purpose_small_business, loan_purpose_renewable_energy )
# At 95 % CI, calculated p-value is less than 0.05. So, we Reject the NULL hypothesis

# Business Conclusion:
# Interest Rate depends on the Purpose of the loan

F_onewayResult(statistic=7.487175499510107, pvalue=1.1346364693350775e-14)

In [27]:
# Q.4 There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

# FICO.Range is a categorical value. But here we will convert it into a continuous value for analysis. We are taking only the higher values in each FIICO range for analysis as it is the maximum value of FICO to be eligible to get that particular interest rate
df_LoansData['FICO.Range_max_value'] = df_LoansData['FICO.Range'].apply(lambda x: x.split('-')[1])

# Ho: There is NO relatioship between FICO scores and Home Ownership
# Ha: There is a relationship between FICO scores and Home Ownership
# at CI=95%, p=0.05

# FICO.Range_max_value is a continuous value & Home.Ownership is a categorical value. So, we perform ANOVA test

# creating data series for each Home Ownership type
mydf_df_LoansData_Max_FICO_HomeOwnership_MORTGAGE = df_LoansData[df_LoansData['Home.Ownership'] == 'MORTGAGE']['FICO.Range_max_value']
mydf_df_LoansData_Max_FICO_HomeOwnership_RENT = df_LoansData[df_LoansData['Home.Ownership'] == 'RENT']['FICO.Range_max_value']
mydf_df_LoansData_Max_FICO_HomeOwnership_OWN = df_LoansData[df_LoansData['Home.Ownership'] == 'OWN']['FICO.Range_max_value']
mydf_df_LoansData_Max_FICO_HomeOwnership_OTHER = df_LoansData[df_LoansData['Home.Ownership'] == 'OTHER']['FICO.Range_max_value']

stats.f_oneway(mydf_df_LoansData_Max_FICO_HomeOwnership_MORTGAGE, mydf_df_LoansData_Max_FICO_HomeOwnership_RENT, mydf_df_LoansData_Max_FICO_HomeOwnership_OWN, mydf_df_LoansData_Max_FICO_HomeOwnership_OTHER)

# At CI of 95%, calculated p-value is less than 0.05. SO, we reject the NULL hypothesis.

# Business Conclusion:
# There is a relationship between FICO scores and Home Ownership

F_onewayResult(statistic=23.067768208374645, pvalue=1.001016973422469e-14)

# Business Problem 2: We would like to assess if there is any difference in the average price quotes provided by Mary and Barry.

BACKGROUND: When an order is placed by a customer of a small manufacturing company, a price quote must be developed for that order. Because each order is unique, quotes must be established on an order-by-order basis by a pricing expert. The price quote process is laborintensive, as prices depend on many factors such as the part number, customer, geographic location, market, and order volume. The sales department manager is concerned that the pricing process is too complex, and that there might be too much variability in the quoted prices. An improvement team is tasked with studying and improving the pricing process

After interviewing experts to develop a better understanding of the current process, the team designed a study to determine if there is variability between pricing experts. That is, do different pricing experts provide different price quotes? Two randomly selected pricing experts, Mary and
Barry, were asked to independently provide prices for twelve randomly selected orders. Each expert provided one price for each of the twelve orders.

In [28]:
df_Price_Quotes.head()

   Order_Number  Barry_Price  Mary_Price
0             1          126         114
1             2          110         118
2             3          138         114
3             4          142         111
4             5          146         129

In [29]:
print('variance of Barry_Price:',np.var(df_Price_Quotes['Barry_Price']))
print('variance of Mary_Price:',np.var(df_Price_Quotes['Mary_Price']))
print('the ratio of variance is:', np.var(df_Price_Quotes['Barry_Price']) / np.var(df_Price_Quotes['Mary_Price']))
# Since the ratio of the larger data groups to the small data group is less than 4:1 then we can consider that the given data groups have equal variance

variance of Barry_Price: 392.7222222222222
variance of Mary_Price: 112.02083333333333
the ratio of variance is: 3.505796292852272

In [30]:
# Ho: Mean of both Barry_Price & Mary_Price are same
# Ha: Mean of both Barry_Price & Mary_Price are NOT same
# at CI=95%, p=0.05

# We are comparing the means of 2 variables & n<30. So, performing t-test
stats.ttest_ind(df_Price_Quotes['Barry_Price'], df_Price_Quotes['Mary_Price'], equal_var=True)

# At CI of 95%, calculated p-value is greater than 0.05. SO, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# There is NO difference in the average price quotes provided by Mary and Barry.

TtestResult(statistic=1.4147436739281787, pvalue=0.17114226132118285, df=22.0)

# Business Problem 3: Determine what effect, if any, the reengineering effort had on the incidence behavioral problems and staff turnover. i.e To determine if the reengineering effort changed the critical incidence rate. Is there evidence that the critical incidence rate improved

BACKGROUND: The New Life Residential Treatment Facility is a NGO that treats teenagers who have shown signs of mental illness. It provides housing and supervision of teenagers who are making the transition from psychiatric hospitals back into the community. Because many of the teenagers were severely abused as children and have been involved with the juvenile justice system, behavioral problems are common at New Life. Employee pay is low and staff turnover (attrition) is high.


A reengineering program was instituted at New Life with the goals of lowering behavioral problems of the kids and decreasing employee turnover rates. As a part of this effort, the following changes were made:

    a.Employee shifts were shortened from 10 hours to 8 hours each day.
    
    b.Employees were motivated to become more involved in patient treatments. This included encouraging staff to run various therapeutic treatment sessions and allowing staff to have more say in program changes.

    c.The activities budget was increased.

    d.A facility-wide performance evaluation system was put into place that rewarded staff participation and innovation.

    e.Management and staff instituted a program designed to raise expectations about appropriate behavior from the kids. This included strict compliance with reporting of behavioral violations, insistence on participation in therapeutic sessions, and a lowered tolerance for even moderate behavioral infractions.
    
To determine the effectiveness of the reengineering effort, a data set comprised of pre- and post-reengineering periods was compiled. The information contains two measures of behavioral problems. A critical incident occurs when a resident goes AWOL (leaves the premises without permission), destroys property (e.g., punching a hole in a wall or throwing furniture through windows), is caught in possession of street drugs, or engages in assault against other residents or staff members. A teenager is temporarily removed from the facility when s/he is sent to jail or back to a psychiatric hospital

In [31]:
df_Treatment_Facility.head()

   Month Reengineer  Employee_Turnover       VAR4        VAR5
0      1      Prior             0.0000  24.390244   42.682927
1      2      Prior             6.0606  19.354839   25.806452
2      3      Prior            12.1212  35.087719  146.198830
3      4      Prior             3.3333  18.404908  110.429448
4      5      Prior            12.9032  17.964072   23.952096

In [32]:
# renaming the column names with proper names
df_Treatment_Facility.columns = ['Month', 'Reengineer', 'Employee_Turnover', 'TRFF', 'CI']

In [33]:
# Q1: Determine what effect, if any, the reengineering effort had on the incidence behavioral problems

# Ho: There is NO diffrence on Incidence Behavioral Problems between Prior & post
# Ha: There is a difference on Incidence Behavioral Problems between Prior & post
# CI=95%, p=0.05
# Reengineer column is categrical & CI column is continuous. So,we are performing ANOVA test

CI_pre_reengineer = df_Treatment_Facility[df_Treatment_Facility['Reengineer']=='Prior']['CI']
CI_post_reengineer = df_Treatment_Facility[df_Treatment_Facility['Reengineer']=='Post']['CI']

stats.f_oneway(CI_pre_reengineer, CI_post_reengineer)
# At CI of 95%, calculated p-value is greater than 0.05. SO, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# Critical Incidents have NOT changed by Reengineering effort. In other words, we can say that There is NO effect of Reengineering efforts on Critical Incidents. CI rate has NOT changed

F_onewayResult(statistic=2.650105376271948, pvalue=0.12091989189884142)

In [34]:
# Q2: Determine what effect, if any, the reengineering effort had on the Staff Turnover problems

# Ho: There is NO diffrence on Staff Turnover problems between Prior & post
# Ha: There is a difference on Staff Turnover problems between Prior & post
# CI=95%, p=0.05
# Reengineer column is categrical & Employee_Turnover column is continuous. So,we are performing ANOVA test

Employee_Turnover_pre_reengineer = df_Treatment_Facility[df_Treatment_Facility['Reengineer']=='Prior']['Employee_Turnover']
Employee_Turnover_post_reengineer = df_Treatment_Facility[df_Treatment_Facility['Reengineer']=='Post']['Employee_Turnover']

stats.f_oneway(Employee_Turnover_pre_reengineer, Employee_Turnover_post_reengineer)
# At CI of 95%, calculated p-value is greater than 0.05. SO, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# Employee Turnover have NOT changed by Reengineering effort. In other words, we can say that There is NO effect of Reengineering efforts on Employee Turnover.

F_onewayResult(statistic=3.133985828895568, pvalue=0.09361109345535291)

# Business Problem 4: We will focus on the prioritization system. If the system is working, then high priority jobs, on average, should be completed more quickly than medium priority jobs, and medium priority jobs should be completed more quickly than low priority jobs. Use the data provided to determine whether this is, in fact, occurring

BACKGROUND: Software development projects typically follow six basic phases: Requirements, design, implementation (and integration), testing(validation), deployment (installation) and maintenance. First, general requirements are gathered, and the scope of the functionality is defined. Then, alternative scenarios for the required functionality are developed and evaluated. Implementation, usually 50% or more of the development time, is the phase in which the design is translated into programs and integrated with other parts of the software – this is when software engineers actually develop the code. During the final phases, programs are tested, software is put into use, and faults or performance issues are addressed.

ApDudes, a developer of applications for tablet computers, was having difficulty meeting project deadlines; only 10% of their projects had been completed within budget and on time last year and that was starting to hurt business. The group’s project manager was tasked with studying problems within the implementation phase. He found that software engineers were having difficulty prioritizing their work, and that they often became overwhelmed by the magnitude of the projects.
    
As a result, two changes were made. Each project was broken down into smaller, distinct tasks, or jobs, and each job was assigned a priority. The project manager believes that this classification and prioritization system would speed the completion of high priority jobs, and thus lower overall project completion time

In [35]:
df_Priority_Assessment.head()

   Days Priority
0   3.3     High
1   7.9   Medium
2   0.3     High
3   0.7   Medium
4   8.6   Medium

In [36]:
df_Priority_Assessment['Priority'].unique()

array(['High', 'Medium', 'Low'], dtype=object)

In [37]:
# Ho: There is NO difference by implementing prioritization system
# Ha: There is a difference by implementing prioritization system
# CI=95%, p=0.05
# Priority column is categrical & Days column is continuous. So,we are performing ANOVA test

prioritization_high = df_Priority_Assessment[df_Priority_Assessment['Priority']=='High']['Days']
prioritization_medium = df_Priority_Assessment[df_Priority_Assessment['Priority']=='Medium']['Days']
prioritization_low = df_Priority_Assessment[df_Priority_Assessment['Priority']=='Low']['Days']

stats.f_oneway(prioritization_high, prioritization_medium, prioritization_low)
# At CI of 95%, calculated p-value is greater than 0.05. SO, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# There is NO effect on project completion time by implementing prioritization system

F_onewayResult(statistic=1.812311010076072, pvalue=0.16411459461716182)

# Business Problem 5:  Use the survey results to address the following questions
    a. What is the overall level of customer satisfaction?
    b. What factors are linked to satisfaction?
    c. What is the demographic profile of Film on the Rocks patrons?
    d. In what media outlet(s) should the film series be advertised?

BackGround: Film on the Rocks is a summer movie series held at the world-renowned Red Rocks Amphitheatre, which is situated on a hillside of the Rocky Mountains in Morrison, Colorado fifteen miles west of Denver. The film series features classic films, and pre-show entertainment including bands and comedians. Among the features that have made Red Rocks an internationally-famous concert stage are sweeping views of Denver, outstanding acoustics, and cool, dry Colorado summers.

The series is jointly promoted by the Denver Film Society (DFS) and the City and County of Denver’s Division of Theatres and Arenas (DT&A). It is marketed through various outlets including newspaper, radio, and the Red Rocks and Denver Film Society websites. Film on the Rocks patrons also benefit from corporate sponsorship. In return for on-site posters and banners at Red Rocks, and recognition in pre- show marketing materials, corporations donate funds that keep ticket prices low.

Although the Red Rocks Amphitheatre provides a cinematic experience unlike any other venue, there are tradeoffs. Red Rocks is a farther commute for most people than the local movie theater or movie rental store. Given the uphill walk to the amphitheatre from the parking lot, getting there can be challenging. And, as an outdoor venue, the viewing experience is dependent on the weather.
    
Patron satisfaction with Red Rocks as the venue for the film series is critical to its success. But, the series promoters would also like to increase attendance at the film series, and are unsure how to do this. Promoters recognize that they need a better understanding of the customer
base, and of the current level of satisfaction. Knowing the demographics of those who attend the film series will help attract and expand corporate sponsorship. In addition, knowing which media outlets are most effective will provide information about how best to target future marketing campaigns.

To this end, the promoters conducted surveys during a recent Film on the Rocks season. Questionnaires were handed out at the entrance. Volunteers walked through the crowd to remind people about the free soft drink given to those who returned the survey

The data set contains 330 surveys collected during three Film on the Rocks movies: Ferris Bueller’s Day Off, Old School, and Willy Wonka and the Chocolate Factory.

The variables are:

    a. Gender: The patron’s gender: 1 = male; 2 = female
    b. Marital Status: The patron’s marital status: 1 = married; 2 = single
    c. Age: The patron’s age in years: 1= 1-12; 2 = 13-30; 3 = 31-60; 4 = 60+
    d. Income: The patron’s annual household income: 1 = Less than $50,000; 2 = $50,000-$100,000; 3 = $100,000+
    e. Hear About: The patron’s response to this question: “How did you hear about Film on the Rocks?” Respondents could check any of the following that applied: 1 = television; 2 = newspaper; 3 = radio; 4 = website; 5 = word of mouth


    The survey also contained four Likert-scaled questions about satisfaction; each of the followingquestions is coded:

    1 = Excellent; 2 = Good; 3 = Average/Fair; 4 = Poor; 5 = Very Poor.
    a. Signage “How was the signage directing you to Red Rocks?”
    b. Parking “How was the venue’s parking?”
    c. Clean “How was the cleanliness of the venue?”
    d. Overall “How was your overall customer service experience?”

In [38]:
df_Films.head()

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,Female,Married,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,Female,Single,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,Male,Married,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,Female,Married,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,Female,Married,1.0,1.0,1.0,1.0,3.0,3.0,1

In [39]:
df_Films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _rowstate_      330 non-null    int64
 1   Movie           330 non-null    object
 2   Gender          330 non-null    object
 3   Marital_Status  328 non-null    object
 4   Sinage          328 non-null    float64
 5   Parking         328 non-null    float64
 6   Clean           327 non-null    float64
 7   Overall         328 non-null    float64
 8   Age             328 non-null    float64
 9   Income          314 non-null    float64
 10  Hear_About      323 non-null    object
dtypes: float64(6), int64(1), object(4)
memory usage: 28.5+ KB

In [40]:
df_Films.isnull().sum()

_rowstate_         0
Movie              0
Gender             0
Marital_Status     2
Sinage             2
Parking            2
Clean              3
Overall            2
Age                2
Income            16
Hear_About         7
dtype: int64

In [41]:
# Percentage of NULL values in each column
(df_Films.isnull().sum() / df_Films.shape[0] ) * 100

_rowstate_        0.000000
Movie             0.000000
Gender            0.000000
Marital_Status    0.606061
Sinage            0.606061
Parking           0.606061
Clean             0.909091
Overall           0.606061
Age               0.606061
Income            4.848485
Hear_About        2.121212
dtype: float64

In [42]:
# removing the NULL value rows
df_Films.dropna(subset=['Marital_Status', 'Sinage', 'Parking', 'Clean', 'Overall', 'Age', 'Income', 'Hear_About'], inplace=True)

In [43]:
df_Films.info()
# we have removed approximately 10% of the data while removing the NULL values

<class 'pandas.core.frame.DataFrame'>
Index: 301 entries, 0 to 329
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _rowstate_      301 non-null    int64
 1   Movie           301 non-null    object
 2   Gender          301 non-null    object
 3   Marital_Status  301 non-null    object
 4   Sinage          301 non-null    float64
 5   Parking         301 non-null    float64
 6   Clean           301 non-null    float64
 7   Overall         301 non-null    float64
 8   Age             301 non-null    float64
 9   Income          301 non-null    float64
 10  Hear_About      301 non-null    object
dtypes: float64(6), int64(1), object(4)
memory usage: 28.2+ KB

In [44]:
# a. What is the overall level of customer satisfaction?

# Here we will find the point estimate of customer satisfaction
# at CI=95%, p=0.05, alpha = 0.05
# this is a 2 tail test, so z(alpha/2) = z(0.025) = 1.96
point_estimate_upper_limit = np.round(df_Films['Overall'].mean() + (1.96 * (np.std(df_Films['Overall'])) / (np.sqrt(len(df_Films['Overall'])))),2)
point_estimate_lower_limit = np.round(df_Films['Overall'].mean() - (1.96 * (np.std(df_Films['Overall'])) / (np.sqrt(len(df_Films['Overall'])))),2)

print(f"So: {point_estimate_lower_limit} < level of satisfaction < {point_estimate_upper_limit}")
#print(f"the overall level of customer satisfaction is {df_Films['Overall'].mode()[0]}")  *****do NOT use this this*****

So: 1.55 < level of satisfaction < 1.7

In [45]:
# Replacing the values in columns to proper values as given in the problem statement

df_Films['Gender'] = df_Films['Gender'].replace({'1':'Male', '2':'Female'})
df_Films['Marital_Status'] = df_Films['Marital_Status'].replace({'1':'Married', '2':'Single', 'Slngle':'Single'})
df_Films['Sinage'] = df_Films['Sinage'].replace({1.:'Excellent', 2.:'Good', 3.:'Average/Fair', 4.:'Poor', 5.:'Very Poor'})
df_Films['Parking'] = df_Films['Parking'].replace({1.:'Excellent', 2.:'Good', 3.:'Average/Fair', 4.:'Poor', 5.:'Very Poor'})
df_Films['Clean'] = df_Films['Clean'].replace({1.:'Excellent', 2.:'Good', 3.:'Average/Fair', 4.:'Poor', 5.:'Very Poor'})
df_Films['Overall'] = df_Films['Overall'].replace({1.:'Excellent', 2.:'Good', 3.:'Average/Fair', 4.:'Poor', 5.:'Very Poor'})
df_Films['Age'] = df_Films['Age'].replace({1.:'1-12', 2.:'13-30', 3.:'31-60', 4.:'60+'})
df_Films['Income'] = df_Films['Income'].replace({1.:'< $50,000', 2.:'$50000 - $100,000', 3.:'> $100,000'})

In [47]:
# b. What factors are linked to satisfaction?

# Relationship between Overall_Satisfaction & Movie

# Ho: There is NO relatioship between Overall_Satisfaction & Movie
# Ha: There is a relationship between Overall_Satisfaction & Movie
# at CI=95%, p=0.05
# Overall is a categorical value & Movie is a categorical value. So, we perform Chi-Square test
obs_freq_OverallandMovie = pd.crosstab(index=df_Films['Overall'], columns=df_Films['Movie'])
# performing the chi-square test 
stats.chi2_contingency(obs_freq_OverallandMovie)
# At CI of 95%, calculated p-value is more than 0.05. So, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# There is NO relatioship between Overall_Satisfaction & Movie

Chi2ContingencyResult(statistic=13.76579813675212, pvalue=0.08807776417542347, dof=8, expected_freq=array([[ 5.10299003,  1.2358804 ,  5.66112957],
       [58.25913621, 14.10963455, 64.63122924],
       [62.93687708, 15.24252492, 69.82059801],
       [ 0.42524917,  0.10299003,  0.4717608 ],
       [ 1.27574751,  0.3089701 ,  1.41528239]]))

In [48]:
# Relationship between Overall_Satisfaction & Gender

# Ho: There is NO relatioship between Overall_Satisfaction & Gender
# Ha: There is a relationship between Overall_Satisfaction & Gender
# at CI=95%, p=0.05
# Overall is a categorical value & Gender is a categorical value. So, we perform Chi-Square test
obs_freq_OverallandGender = pd.crosstab(index=df_Films['Overall'], columns=df_Films['Gender'])
# performing the chi-square test 
stats.chi2_contingency(obs_freq_OverallandGender)
# At CI of 95%, calculated p-value is more than 0.05. So, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# There is NO relatioship between Overall_Satisfaction & Gender

Chi2ContingencyResult(statistic=3.520985228074472, pvalue=0.4746946769990794, dof=4, expected_freq=array([[ 7.77408638,  4.22591362],
       [88.75415282, 48.24584718],
       [95.88039867, 52.11960133],
       [ 0.64784053,  0.35215947],
       [ 1.94352159,  1.05647841]]))

In [49]:
# Relationship between Overall_Satisfaction & Marital_Status

# Ho: There is NO relatioship between Overall_Satisfaction & Marital_Status
# Ha: There is a relationship between Overall_Satisfaction & Marital_Status
# at CI=95%, p=0.05
# Overall is a categorical value & Gender is a categorical value. So, we perform Chi-Square test
obs_freq_OverallandMarital_Status = pd.crosstab(index=df_Films['Overall'], columns=df_Films['Marital_Status'])
# performing the chi-square test 
stats.chi2_contingency(obs_freq_OverallandMarital_Status)
# At CI of 95%, calculated p-value is more than 0.05. So, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# There is NO relatioship between Overall_Satisfaction & Marital_Status

Chi2ContingencyResult(statistic=4.716918153414503, pvalue=0.317595469011392, dof=4, expected_freq=array([[  3.62790698,   8.37209302],
       [ 41.41860465,  95.58139535],
       [ 44.74418605, 103.25581395],
       [  0.30232558,   0.69767442],
       [  0.90697674,   2.09302326]]))

In [50]:
# Relationship between Overall_Satisfaction & Sinage

# Ho: There is NO relatioship between Overall_Satisfaction & Sinage
# Ha: There is a relationship between Overall_Satisfaction & Sinage
# at CI=95%, p=0.05
# Overall is a categorical value & Gender is a categorical value. So, we perform Chi-Square test
obs_freq_OverallandSinage = pd.crosstab(index=df_Films['Overall'], columns=df_Films['Sinage'])
# performing the chi-square test 
stats.chi2_contingency(obs_freq_OverallandSinage)
# At CI of 95%, calculated p-value is less than 0.05. So, we reject the NULL hypothesis.

# Business Conclusion:
# There is a relatioship between Overall_Satisfaction & Sinage

Chi2ContingencyResult(statistic=121.32462033201087, pvalue=3.0544447763605627e-18, dof=16, expected_freq=array([[1.79401993e+00, 4.18604651e+00, 5.58139535e+00, 2.39202658e-01,
        1.99335548e-01],
       [2.04817276e+01, 4.77906977e+01, 6.37209302e+01, 2.73089701e+00,
        2.27574751e+00],
       [2.21262458e+01, 5.16279070e+01, 6.88372093e+01, 2.95016611e+00,
        2.45847176e+00],
       [1.49501661e-01, 3.48837209e-01, 4.65116279e-01, 1.99335548e-02,
        1.66112957e-02],
       [4.48504983e-01, 1.04651163e+00, 1.39534884e+00, 5.98006645e-02,
        4.98338870e-02]]))

In [51]:
# Relationship between Overall_Satisfaction & Parking

# Ho: There is NO relatioship between Overall_Satisfaction & Parking
# Ha: There is a relationship between Overall_Satisfaction & Parking
# at CI=95%, p=0.05
# Overall is a categorical value & Gender is a categorical value. So, we perform Chi-Square test
obs_freq_OverallandParking = pd.crosstab(index=df_Films['Overall'], columns=df_Films['Parking'])
# performing the chi-square test 
stats.chi2_contingency(obs_freq_OverallandParking)
# At CI of 95%, calculated p-value is less than 0.05. So, we reject the NULL hypothesis.

# Business Conclusion:
# There is a relatioship between Overall_Satisfaction & Parking

Chi2ContingencyResult(statistic=218.79348282085004, pvalue=1.2264032549812005e-37, dof=16, expected_freq=array([[1.15614618e+00, 4.86378738e+00, 5.54152824e+00, 2.79069767e-01,
        1.59468439e-01],
       [1.31993355e+01, 5.55282392e+01, 6.32657807e+01, 3.18604651e+00,
        1.82059801e+00],
       [1.42591362e+01, 5.99867110e+01, 6.83455150e+01, 3.44186047e+00,
        1.96677741e+00],
       [9.63455150e-02, 4.05315615e-01, 4.61794020e-01, 2.32558140e-02,
        1.32890365e-02],
       [2.89036545e-01, 1.21594684e+00, 1.38538206e+00, 6.97674419e-02,
        3.98671096e-02]]))

In [52]:
# Relationship between Overall_Satisfaction & Clean

# Ho: There is NO relatioship between Overall_Satisfaction & Clean
# Ha: There is a relationship between Overall_Satisfaction & Clean
# at CI=95%, p=0.05
# Overall is a categorical value & Gender is a categorical value. So, we perform Chi-Square test
obs_freq_OverallandClean = pd.crosstab(index=df_Films['Overall'], columns=df_Films['Clean'])
# performing the chi-square test 
stats.chi2_contingency(obs_freq_OverallandClean)
# At CI of 95%, calculated p-value is less than 0.05. So, we reject the NULL hypothesis.

# Business Conclusion:
# There is a relatioship between Overall_Satisfaction & Clean

Chi2ContingencyResult(statistic=129.03423923370684, pvalue=9.882317099745548e-20, dof=16, expected_freq=array([[8.77076412e-01, 5.34219269e+00, 5.50166113e+00, 1.99335548e-01,
        7.97342193e-02],
       [1.00132890e+01, 6.09900332e+01, 6.28106312e+01, 2.27574751e+00,
        9.10299003e-01],
       [1.08172757e+01, 6.58870432e+01, 6.78538206e+01, 2.45847176e+00,
        9.83388704e-01],
       [7.30897010e-02, 4.45182724e-01, 4.58471761e-01, 1.66112957e-02,
        6.64451827e-03],
       [2.19269103e-01, 1.33554817e+00, 1.37541528e+00, 4.98338870e-02,
        1.99335548e-02]]))

In [53]:
# Relationship between Overall_Satisfaction & Age

# Ho: There is NO relatioship between Overall_Satisfaction & Age
# Ha: There is a relationship between Overall_Satisfaction & Age
# at CI=95%, p=0.05
# Overall is a categorical value & Gender is a categorical value. So, we perform Chi-Square test
obs_freq_OverallandAge = pd.crosstab(index=df_Films['Overall'], columns=df_Films['Age'])
# performing the chi-square test 
stats.chi2_contingency(obs_freq_OverallandAge)
# At CI of 95%, calculated p-value is more than 0.05. So, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# There is NO relatioship between Overall_Satisfaction & Age

Chi2ContingencyResult(statistic=11.024837235069565, pvalue=0.5267913370930692, dof=12, expected_freq=array([[8.77076412e-01, 6.53820598e+00, 4.30564784e+00, 2.79069767e-01],
       [1.00132890e+01, 7.46445183e+01, 4.91561462e+01, 3.18604651e+00],
       [1.08172757e+01, 8.06378738e+01, 5.31029900e+01, 3.44186047e+00],
       [7.30897010e-02, 5.44850498e-01, 3.58803987e-01, 2.32558140e-02],
       [2.19269103e-01, 1.63455150e+00, 1.07641196e+00, 6.97674419e-02]]))

In [54]:
# Relationship between Overall_Satisfaction & Income

# Ho: There is NO relatioship between Overall_Satisfaction & Income
# Ha: There is a relationship between Overall_Satisfaction & Income
# at CI=95%, p=0.05
# Overall is a categorical value & Gender is a categorical value. So, we perform Chi-Square test
obs_freq_OverallandIncome = pd.crosstab(index=df_Films['Overall'], columns=df_Films['Income'])
# performing the chi-square test 
stats.chi2_contingency(obs_freq_OverallandIncome)
# At CI of 95%, calculated p-value is more than 0.05. So, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# There is NO relatioship between Overall_Satisfaction & Income

Chi2ContingencyResult(statistic=4.947873542642401, pvalue=0.7631326888324931, dof=8, expected_freq=array([[ 3.18936877,  5.3820598 ,  3.42857143],
       [36.41196013, 61.44518272, 39.14285714],
       [39.33554817, 66.37873754, 42.28571429],
       [ 0.26578073,  0.44850498,  0.28571429],
       [ 0.79734219,  1.34551495,  0.85714286]]))

In [55]:
# Relationship between Overall_Satisfaction & Hear_About

# Ho: There is NO relatioship between Overall_Satisfaction & Hear_About
# Ha: There is a relationship between Overall_Satisfaction & Hear_About
# at CI=95%, p=0.05
# Overall is a categorical value & Gender is a categorical value. So, we perform Chi-Square test
obs_freq_OverallandHear_About = pd.crosstab(index=df_Films['Overall'], columns=df_Films['Hear_About'])
# performing the chi-square test 
stats.chi2_contingency(obs_freq_OverallandHear_About)
# At CI of 95%, calculated p-value is more than 0.05. So, we FAIL to reject the NULL hypothesis.

# Business Conclusion:
# There is NO relatioship between Overall_Satisfaction & Hear_About

Chi2ContingencyResult(statistic=21.659744148982803, pvalue=0.9920532791201511, dof=40, expected_freq=array([[7.57475083e-01, 3.98671096e-02, 4.38538206e-01, 7.97342193e-02,
        5.18272425e-01, 3.98671096e-02, 3.98671096e-02, 1.55481728e+00,
        3.98671096e-02, 8.45182724e+00, 3.98671096e-02],
       [8.64784053e+00, 4.55149502e-01, 5.00664452e+00, 9.10299003e-01,
        5.91694352e+00, 4.55149502e-01, 4.55149502e-01, 1.77508306e+01,
        4.55149502e-01, 9.64916944e+01, 4.55149502e-01],
       [9.34219269e+00, 4.91694352e-01, 5.40863787e+00, 9.83388704e-01,
        6.39202658e+00, 4.91694352e-01, 4.91694352e-01, 1.91760797e+01,
        4.91694352e-01, 1.04239203e+02, 4.91694352e-01],
       [6.31229236e-02, 3.32225914e-03, 3.65448505e-02, 6.64451827e-03,
        4.31893688e-02, 3.32225914e-03, 3.32225914e-03, 1.29568106e-01,
        3.32225914e-03, 7.04318937e-01, 3.32225914e-03],
       [1.89368771e-01, 9.96677741e-03, 1.09634551e-01, 1.99335548e-02,
        1.29568106e-01, 9.96677741e-03, 9.96677741e-03, 3.88704319e-01,
        9.96677741e-03, 2.11295681e+00, 9.96677741e-03]]))

In [56]:
### Upon conducting hypothesis testing on relationship between Overall_Satisfaction & all other variables. We have come to the conclusion that
"""
The factors that are linked to Satisfaction are:
    1. Clean (cleanliness of the venue)
    2. Parking (venue’s parking)
    3. Sinage (signage directing you to Red Rocks)
"""

'\nThe factors that are linked to Satisfaction are:\n    1. Clean (cleanliness of the venue)\n    2. Parking (venue’s parking)\n    3. Sinage (signage directing you to Red Rocks)\n'

In [57]:
# c. What is the demographic profile of Film on the Rocks patrons?

# Demographic profile based on Gender

df_Films.groupby('Gender').agg({'Movie':'count'}).reset_index()

   Gender  Movie
0  Female    195
1    Male    106

In [58]:
# Demographic profile based on Marital Status
df_Films.groupby('Marital_Status').agg({'Movie':'count'}).reset_index()

  Marital_Status  Movie
0        Married     91
1         Single    210

In [59]:
# Demographic profile based on Marital Age
df_Films.groupby('Age').agg({'Movie':'count'}).reset_index()

     Age  Movie
0   1-12     22
1  13-30    164
2  31-60    108
3    60+      7

In [60]:
# Demographic profile based on Marital Status
df_Films.groupby('Income').agg({'Movie':'count'}).reset_index()

              Income  Movie
0  $50000 - $100,000     80
1          < $50,000    135
2         > $100,000     86